*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap-reverse;
}

.box {
    position: relative;
    box-sizing: border-box;
    margin: 5px;
}

.box .child {
    width: 130px;
    height: 100px;
    overflow: hidden;
}

.box>.top {
    background-color: #333;
    line-height: 200px;
    border-bottom: 2px solid #fff;
    border-radius: 4px 4px 0 0;
}

.box .flip {
    position: absolute;
    top: 0px;
    z-index: 1;
    transform-origin: bottom;
    border-radius: 4px 4px 0 0;
}

.box .flip .flip_face {
    position: absolute;
    background-color: #333;
    line-height: 200px;
    z-index: 1;
    border-bottom: 2px solid #fff;
}

.box .flip .flip_back {
    position: absolute;
    background-color: #333;
    line-height: 0px;
    transform: perspective(500px) rotateX(0deg) rotateY(-180deg) rotate(180deg);
    border-top: 2px solid #fff;
}

.box .bottom {
    background-color: #333;
    line-height: 0px;
    border-top: 2px solid #fff;
    border-radius: 0 0 4px 4px;
}

.text {
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}